node_modules/
.DS_Store
*.zip
ios/App/Pods/
ios/App/App/public/
android/app/build/
android/.gradle/
.env
old _build_scripts/
old*.html
onapple*.html
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
tellmehoneyfullcopy/
